<!DOCTYPE html>
<html lang="en">

@@include("../elements/html/_head.html", {
"title": "Home"
})

<body>
	<div class="wrapper">
		@@include("../elements/_header.html")
		<main class="main">

			<img width="400" src="../../assets/images/poster.jpg" alt="poster">
			<img width="400" src="../../assets/images/calendar.svg" alt="poster">
			<img width="400" src="../../assets/images/marke.svg" alt="poster">

		</main>
		@@include("../elements/_footer.html")
	</div>
	<script src="scripts/index.js"></script>
</body>

</html>