<header class="header">
	<div class="header__inner">
		<a href="/" class="header__logo">
			<div class="header__logo-img-container">
				<img src="../../assets/images/logo.png" alt="logo" class="header__logo-img">
			</div>
			<p class="header__logo-title">
				Template
			</p>
		</a>
		<nav class="header__nav">
			<ul class="header__nav-list">
				<li class="header__nav-item">
					<a href="/" class="header__nav-link">Home</a>
				</li>
				<li class="header__nav-item">
					<a href="/about" class="header__nav-link">About</a>
				</li>
				<li class="header__nav-item">
					<a href="/contact" class="header__nav-link">Contact</a>
				</li>
				<li class="header__nav-item">
					<a href="/project" class="header__nav-link">Project</a>
				</li>
			</ul>
		</nav>
		<button class="header__menu-btn" id="menu-btn">
			<span></span>
		</button>
	</div>
</header>